nav{
    flex: 1;
    text-align: right;
}
/* home, shoppingcart  */
a{
    text-decoration: none;
    color: black;
}



/* The displaying of main image and the small Images - homepage */

.main-img{
    display: grid;
   grid-template-columns: 2fr 1fr;
   gap: 20px
}

.small-img{
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: auto;
   gap: 10px;
   align-content: start;

}
/* Footer - homepage */
footer {
    margin-top: 3rem;
    border-top: 2px solid black;
}